.staff-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: navy;
    color: white;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover; /* Crop the image to fit within the circular frame */
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background-color: white;
    color: navy;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #ddd;
    color: navy;
  }
  